body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

header {
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), url(../img/background-sm.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 5em;
}

main {
    padding: 1em;
}

.tag-line {
    display: none;
    }
    
@media(min-width: 768px) {
  body {
      font-size: 20px;
  }  
    
header {
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), url(../img/background-lg.jpg);
   min-height: 300px;
    }
    
.tag-line {
    display: block;
    }
    
}

@media (min-width: 1200px) {
    body {
        font-size: 30px;
    }
}
