body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

h1, h2{
    font-family: 'Roboto', Helvetiva, sans-serif;
    font-size: 24px;
    padding-top: 20px;
}

.tag-line {
    font-family: 'Roboto', Helvetiva, sans-serif;
    font-size: 30px;
}

.sec1 {
    background-color: #999;
    padding-top: 20px;
}

.sec1 p{
    padding-top: 1em;
}

a{
    text-decoration: none; /*remove the underline*/
}

.sec2 {
    background-color:beige;
}

heading, section {
    padding: 1em;
}

svg {
    height: 2em; 
    fill: beige;
    stroke: #999999;
    float: left;
}